body {
    margin: 0px;
    padding: 0px;
}

#top_bar h1, #top_bar p{
    text-align:center;
    color: #bfbfbf;
}

#navi_bar>ul{
    margin-top: 0px;        /*space bar*/
    padding: 20px;
    background-color: #eee;
}

/*submenu left vertical space */
#navi_bar ul li ul{
    padding-left: 0px;
}   


/*top buttons*/
#navi_bar>ul>li {
    float:left;
    list-style: none;
}

/*links in the navigation bar*/
#navi_bar ul li li a{
    color: white;
    text-decoration: none;
    display: block; /*make the link occupy the li tag for easier click*/
}

/*submenu panel*/
#submenu_web_pro{
    position:absolute; 
    background-color: #bfbfbf;
    border-radius:8px 8px 8px 8px;
    overflow:hidden;
}

/*submenu*/
ul li li { 
    float: none;
    list-style: none;
    display: none;     /* hide first*/
    z-index: 10000;
    padding: 0.8em;
    border-bottom: 0.6px solid #bfbfbf;
}



#navi_bar ul li li:hover{
    background-color: #8fc1c1;
}


#navi_bar{
    /*    background-color: #bfbfbf;*/
    background-color: #eee;
    border-bottom: 2px solid #8fc1c1;
    /*border-bottom: 2px solid lightskyblue;*/

}

.navi_button{
    color: #818181;
    text-decoration: none;
    padding-left:3em;
    font-size: 1.2em;
}


#resume_container{
    /*margin: 2.5em;*/
    padding:2.5em;
    /*text-align:center;*/
    margin-left: 15%;
    margin-right: 15%;
}

.resume_header{
    padding-top: 1em;
    /*color:lightblue;*/
    color:lightskyblue;
    /*color: #8fc1c1;*/
}

.resume_sub_header{
    /*text-align:left;*/
    font-weight: bold;
}

#edu_list .resume_contents{
    margin-left: 1em;
}


/*top and bottom bars*/
#top_bar {
    color: white;
    /*    background-color: #f2f2f2;*/
    background-color: #eee;
    /*padding:0.5em;*/
}


#bottom_bar{
    background-color: #eee;
    /*border-top: 1px solid #d8d8d8;*/

    border-top: 2px solid #8fc1c1;
    /*border-top: 2px solid lightskyblue;*/

    padding: 30px 0;
}


/*fonts*/ 
body, h1, #navi_bar, .resume_header {
    font-family: Helvetica, Arial, sans-serif;
}


/*a:hover {
    color: #8fc1c1;
}*/

li:hover a {
    color: #8fc1c1;
}

a:active {
    color: #8fc1c1;
}



.separator {
    border-top: 2px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
}


#resume_top h2, p {
    margin: 0px;
    padding: 0px;
    text-align:center;
}


#top_bar h1{
    margin: 0px;
    padding: 0px;
}

#resume_container ul{
    margin: 0.25em;
    padding: 0.25em;
}


.content{
    padding-left:2em;
    text-align: left;
}


#footer_logo a{
    /*overflow: hidden;*/
    text-decoration: none;
}

#footer_logo img{
    background: no-repeat;
    /*background-size: 48px 48px;*/
}

#footer_linkedIn img{
    width: 46px;
    height: 46px;
}

/*the arrow*/
.intro {
    /*position:absolute;*/ 
    padding-left: 2em;
    padding-top: 0.1em;
    background-color:transparent;
    color: #8fc1c1;
    font-size: 300%;
    z-index: 11111;
    line-height: 0.2em;
}

#ar{
    display: none;     /* hide first*/
    float: none;
}