@font-face {
    font-family: "Questrial";
    font-style: normal;
    font-weight: 400;
    src: local("Questrial"), local("Questrial-Regular"), url("http://fonts.gstatic.com/s/questrial/v5/MYWJ4lYm5dbZ1UBuYox79D8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}


body {
    margin: 0px;
    padding: 0px;
}

h1{
    text-align:center;
    color: #bfbfbf;
}



/*top and bottom bars*/
#top_bar {
    color: white;
    /*    background-color: #f2f2f2;*/
    background-color: #eee;
    padding:0.5em;
}


#bottom_bar{
    background-color: #eee;
    /*border-top: 1px solid #d8d8d8;*/

    border-top: 2px solid #8fc1c1;
    padding: 30px 0;
}

#navi_bar{
    /*    background-color: #bfbfbf;*/
    background-color: #eee;
    border-bottom: 2px solid #8fc1c1;
}

.navi_button{
    color: #818181;
    text-decoration: none;
    padding:2em;
    font-size: 1.2em;
}

/*fonts*/ 
body, nav, h1, #navi_bar {
    font-family: Helvetica, Arial, sans-serif;


}


a:hover {
    color: #8fc1c1;
}

a:active {
    color: #f99600;
}
