body {
    margin: 0px;
    padding: 0px;
}

#top_bar h1, #top_bar p{
    text-align:center;
    color: #bfbfbf;
}

#resume_container{
    /*margin: 2.5em;*/
    padding:2.5em;
    /*text-align:center;*/
    margin-left: 15%;
    margin-right: 15%;
}


.resume_header{
    padding-top: 1em;
    /*color:lightblue;*/
    color:lightskyblue;
    /*color: #8fc1c1;*/

}

.resume_sub_header{
    /*text-align:left;*/
    font-weight: bold;
}


#edu_list .resume_contents{
    margin-left: 1em;
}


/*top and bottom bars*/
#top_bar {
    color: white;
    /*    background-color: #f2f2f2;*/
    background-color: #eee;
    padding:0.5em;
}


#bottom_bar{
    background-color: #eee;
    /*border-top: 1px solid #d8d8d8;*/

    border-top: 2px solid #8fc1c1;
    /*border-top: 2px solid lightskyblue;*/

    padding: 30px 0;
}

#navi_bar{
    /*    background-color: #bfbfbf;*/
    background-color: #eee;
    border-bottom: 2px solid #8fc1c1;

    /*border-bottom: 2px solid lightskyblue;*/

}

.navi_button{
    color: #818181;
    text-decoration: none;
    padding:2em;
    font-size: 1.2em;
}

/*fonts*/ 
body, nav, h1, #navi_bar, .resume_header {
    font-family: Helvetica, Arial, sans-serif;
}


a:hover {
    color: #8fc1c1;
}

a:active {
    color: #f99600;
}



.separator {
    border-top: 2px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
}


#resume_top h2, p {
    margin: 0px;
    padding: 0px;
    text-align:center;
}


#top_bar h1{
    margin: 0px;
    padding: 0px;
}

ul{
    margin: 0.25em;
    padding: 0.25em;
}


.content{
    padding-left:2em;
    text-align: left;
}


#footer_logo a{
    /*overflow: hidden;*/
    text-decoration: none;
}

#footer_logo img{
    background: no-repeat;
    /*background-size: 48px 48px;*/
}

#footer_linkedIn img{
    width: 46px;
    height: 46px;
}

